<h3>Bom dia {{usuario.nome}} </h3>
<p>Enviamos uma mensagem SMS para o seu número
  <b> {{usuario.telefone}}</b>, com o código de barras para o pagamento da sua
  compra.</p>
<p>Enviaremos este mesmo código de barras para o pagamento para o seu e-mail:
  {{usuario.email}}</p>

<p>Enviaremos este mesmo código de barras para o pagamento para o seu endereço:
</p>

<p><b>CEP:</b> {{usuario.endereco.cep}}</p>
<p><b>Cidade:</b>
 <b> {{usuario.endereco.cidade}}
  <b>UF:</b>
  {{usuario.endereco.uf}}</p>
<p><b>Rua:</b> {{usuario.endereco.rua}} <b>Nro:</b> {{usuario.endereco.nro}}</p>
<p><b>Bairro:</b> {{usuario.endereco.bairro}}</p>
<p><b>Complemento:</b> {{usuario.endereco.complemento}}</p>