<h1>Dados do Pedido</h1>
<div class="container">
<div class="dados-pedido">
<p><label class="neg">Pedido:</label> {{pedido.codigo_pedido}}</p>
<p><label class="neg">Cliente:</label> {{pedido.cliente_nome}}</p>
<p><label class="neg">Endereço:</label> {{pedido.cliente_endereco}} </p>
<p><label class="neg">Tele entrega:</label> {{pedido.tele_entrega}}</p>
<p><label class="neg">Total:</label> {{pedido.total_a_pagar}}</p>
<p><label class="neg">Pedido Enviado:</label> {{pedido.pedido_enviado}}</p>
</div>
</div>