
<h1>Lista de pedidos</h2>

  <table>
    <tr>
      <th>Pedido</th>
      <th>Cliente</th>
      <th>Endereço</th>
      <th>Pizzas G</th>
      <th>Pizzas M</th>
      <th>Pizzas P</th>
      <th>Tele Entrega</th>
      <th>Total</th>
      <th>Data</th>
      <th>Enviado</th>
      
    </tr>

    {{#each pedidos}}

    <tr>
      <td class="id">{{this.codigo_pedido}}</td>
      <td>{{this.cliente_nome}}</td>
      <td>{{this.cliente_endereco}}</td>
      <td>{{this.qtd_pizzas_grandes}}</td>
      <td>{{this.qtd_pizzas_medias}}</td>
      <td>{{this.qtd_pizzas_pequenas}}</td>
      <td>{{this.tele_entrega}}</td>
      <td>{{this.total_a_pagar}}</td>
      <td>{{this.data_hora}}</td>
      {{#ifeq this.pedido_enviado "Sim"}} 
        <td class="tdSim">Sim</td> 
      {{/ifeq}}
      {{#ifeq this.pedido_enviado "Não"}}  
        <td class="tdNao"> <a href="enviar-pedido/{{this.codigo_pedido}}">Não</a></td>  
      {{/ifeq}}
       
    </tr>
    {{/each}}
  </table>




