<h3>Dois Objetos</h3>

<h2>Empresa:</h2>

<p><b>Nome: </b>
  {{objetos.empresa.nome}}
  -
  <b>CNPJ: </b>{{objetos.empresa.cnpj}}</p>
<p>Telefone: {{objetos.empresa.tel}}</p>
<p>Endereço: {{objetos.empresa.end}}</p>

<br />

<p>O meu gato de chama <b>{{objetos.gato.nome}}</b></p>
<p>Ele tem {{objetos.gato.idade}} anos, e pesa {{objetos.gato.peso}} Kg</p>