<h3>Operações Matemáticas Fundamentais </h3>
 
<p><b>Número 1:</b> {{operacoes.n1}}</p>
<p><b>Número 1:</b> {{operacoes.n2}}</p>

<br>
<br>
<ul>

    <li><p><b>Soma:</b> {{operacoes.soma}}</p>
    <li><p><b>Subtração:</b> {{operacoes.subtracao}}</p>
    <li><p><b>Multiplicação:</b> {{operacoes.multiplicacao}}</p>
    <li><p><b>Divisão:</b> {{operacoes.divisao}}</p>
    
</li>
</ul>